*{
  /* font-family: 'Akaya Kanadaka', cursive; */
font-family: 'Inter', sans-serif;
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */
}
body{
  overflow-x: hidden;
}
.card img{
  height: 250px;
  width: 300px;
  margin-left: 40px;
  margin-top: 20px;
  object-fit: contain;
 
  

}
.cards{
  
      position: relative;
      display: flex;
      flex-direction: row;
      min-width: 0px;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0,0,0,.125);
      border-radius: .25rem;
  
}
